h1 {
    color: black;
}

.highlighted-text {
    background-color: #ffffcc;
    padding: 10px;
    border-radius: 5px;
}

#main-title {
    font-size: 2em;
}

a.external-link:hover {
    color: green;
}

.content {
    padding: 20px;
    margin: 10px;
}